body {
  margin: 0; 
}

li {
  display: inline;
  margin: 10px;
}

a:hover {
  color: aqua;
}

div {
  float: left;
  display: inline-block;   
}

img {
  width: 630px; 
  height: 300px;
}

.top-section-left-info {
  background-color: rgb(65, 62, 62); 
  color: white; 
  padding: 10px; 
}

.top-section-right-info {
  background-color: rgb(65, 62, 62); 
  border-width: 4px;
  border-style: solid;
  border-color: white;
  padding: 10px 50px; 
}
